* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lobster, sans-serif;
}

body {
    background-color: white;
}

.header {
    margin: 15px 0;
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(red, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    margin: 5px 0;
    font-size: 60px;
}

.welcome-text {
    margin: 15px 0;
    font-size: 30px;
}

.button-container {
    text-align: center;
}

.reset-button {
    height: 3em;
    width: 7em;
    background-color: red;
    color: yellow;
    font-size: 15px;
    font-weight: bold;
}

/* .play-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
} */

.grid-container {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
    /* grid-auto-rows: stretch;
    grid-auto-columns: stretch; */
    gap: 1px 1px;
    margin: 30px auto;
    padding: 2px;
    border: 5px solid red;
    border-radius: 5px;
    height: 37em;
    width: 37em;
}

.grid-item {
    border-radius: 1px;
    box-shadow: 1px 1px 1px grey;
}